body {
  background: rgb(72, 238, 136);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 6%;
  box-shadow: 2px;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  justify-content: center;

}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #45b405 !important;
  width: 280px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
p {
  color: red;
}

input {
  padding-left: 5%;
  padding-right: 5%;
  width: 300px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10;
}